
body, input, button, select, option, textarea{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}

body{
	background-color: #3B3A3A;
}
h2, h4{
	color: #F5F4F4;
}
.food-item-name, .food-item-calories, .save-all, .clear-all, .remove, .select, .food-item-internal, .calories-internal{
	height: 3em;
	border-radius: 5px;
	/*box-shadow: 10px 5px 10px -1px rgba(0, 0, 0, 0.75);*/
}

.remove, .select, .save-all, .clear-all{
	display: inline-block;
	/*padding: 0;*/
	/*border:5px outset #E6E3E3;*/
	margin: 5px;
    /*border-color: #E6E3E3;*/
}

.save-all, .clear-all{
	width: 37%;
}


.food-item-name, .food-item-calories{
	display: inline-block;
	vertical-align: middle;
}

.food-item-name{
	background-color: #30BC7F;
	width: 250px;
	margin: 5px;
}

.total-calories{
	background-color: #3B51A3;
	color:#FCEE74;
	width: 440px;
	margin: 5px;
	height: 1em;
	padding-top: 14px;
	padding-bottom: 28px;
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 5px;
	/*box-shadow: 10px 5px 10px -1px rgba(0, 0, 0, 0.75);*/
}

.food-item-calories{
	background-color: #F4F5AD;
	width: 50px;
	margin-top:auto;
    margin-bottom:auto;
}

.list-of-items{
	list-style: none;
}

/*
 http://stackoverflow.com/questions/8865458/how-to-vertically-center-text-with-css
http://jsfiddle.net/TB43r/2196/
*/

.food-item-internal, .calories-internal{   
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

.food-item-internal{
	width: 250px;
}

.calories-internal{
	width: 50px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
} 