body,
input,
button,
select,
option,
textarea {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}


body {
    background-color: #3b3a3a;
}

h2,
h4 {
    color: #f5f4f4;
}

.settings-class{
   color: white;
   text-align: left; 
}

.food-item-name,
.food-item-calories,
.save-all,
.clear-all,
.remove,
.select,
.food-item-internal,
.calories-internal {
    height: 3em;
    border-radius: 5px;
}

.remove,
.select,
.save-all,
.clear-all {
    display: inline-block;
    margin: 5px;
}

.search-btn,
.clear-btn {
    height: 3em;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    width: 82px;
}

.input-group {
    margin-left: 75px;
}

.save-all,
.clear-all {
    width: 210px;
}

.input-field {
    display: inline-block;
    width: 250px;
    margin: 5px;
    height: 3em;
    border-radius: 5px;
}

.food-item-name,
.food-item-calories {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}

.food-item-name {
    background-color: #E4E1E1;
    width: 250px;
    margin: 5px;
    
}

.message-bar {
    width: 435px;
    margin: 5px;
    height: 1em;
    padding-top: 14px;
    padding-bottom: 28px;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
}

.total-calories {
    background-color: #2C2A2A;
    color: #F9FBED;
    font-weight: bold;
}

.error-display {
    background-color: #ffcd05;
    color: #25282b;
}

.status-display{
	background-color: #c0fadd;
	color: black;
}

.food-item-calories {
    background-color: #f4f5ad;
    width: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

.list-of-items {
    list-style: none;
}

.selected-list-buttons {
    margin-left: 38px;
}


/*
 http://stackoverflow.com/questions/8865458/how-to-vertically-center-text-with-css
http://jsfiddle.net/tb43r/2196/
*/

.food-item-internal,
.calories-internal {
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

.food-item-internal {
    width: 250px;
}

.calories-internal {
    width: 50px;
}

.about-text{
    color: white;
    text-align: center;
    font-size: 20px;
}

.about-text a:link {
    color: #D5FFF8;

}
