
body, input, button, select, option, textarea{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}

.food-item-name, .food-item-calories, .remove, .select, .food-item-internal, .calories-internal{
	height: 3em;
	box-shadow: 10px 5px 10px -1px rgba(0, 0, 0, 0.75);
}

.remove, .select{
	border: none;
	display: inline-block;
	padding: 0;
	margin: 5px;
}

.food-item-name, .food-item-calories{
	display: inline-block;
	vertical-align: middle;
}

.food-item-name{
	background-color: #DFDCDC;
	width: 250px;
	margin: 5px;
}

.food-item-calories{
	background-color: #F4F5AD;
	width: 50px;
	margin-top:auto;
    margin-bottom:auto;
}

.list-of-items{
	list-style: none;
}

/*
 http://stackoverflow.com/questions/8865458/how-to-vertically-center-text-with-css
http://jsfiddle.net/TB43r/2196/
*/

.food-item-internal, .calories-internal{   
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

.food-item-internal{
	width: 250px;
}

.calories-internal{
	width: 50px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
} 