<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Health tracker </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--build:css css/styles.min.css-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <!--endbuild-->
</head>

<body>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home1">HOME</a></li>
        <li><a data-toggle="tab" href="#settings1">Settings</a></li>
        <li><a data-toggle="tab" href="#about1">About</a></li>
    </ul>
    <div class="tab-content" id="tabs">
        <div class="tab-pane fade in active" id="home1">
            <h2>Health tracker (calories calculator)</h2>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 local">
                        <h4>Enter food item:</h4>
                        <div class="input-group">
                            <input id="food_item_search_name" type="text" class="input-field" placeholder="Type here">
                            <button id="food-item-search-button" class="search-btn">search</button>
                            <button id="clear-current-list-button" class="clear-btn">clear</button>
                        </div>
                        <div>
                            <ul class="list-of-items" id="current-list"></ul>
                        </div>
                    </div>
                    <div class="col-md-6 local">
                        <div>
                            <h4>Selected items:</h4>
                            <div>
                                <ul class="list-of-items" id="selected-list"></ul>
                            </div>
                            <div id="total-calories-selected">
                            </div>
                            <div id="selected-list-buttons-id" class="selected-list-buttons">
                                <button id="selected-list-save-all-button" class='save-all'>save all</button>
                                <button id="selected-list-clear-all-button" class='clear-all'>clear all</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="settings1" class="tab-pane settings-class">
            <h2>Settings:</h2>
            <label>
                <input type="checkbox" id="clear-current-list-on-selection">Automatically clear current list when an item is added to selected list</label>
            <br>
            <input type="checkbox" id="auto-save-selected-list">
            <label for="auto-save-selected-list">Automatically save list of selected items when it changes</label>
        </div>
        <div id="about1" class="tab-pane settings-class">
            <div>Calories calculator by <a href="mailto:dev276236@gmail.com">dev276236@gmail.com</a></div>
            <div>2016-2017</div>
            <div><a href="https://github.com/developer2020github">My github</a></div>
        </div>

    </div>
    <script type="text/template" id="food-item-template">
        <span class="food-item">
        <span class = "food-item-name">
        <div class = "food-item-internal">
        <%= name %>
        </div>
        </span>
        <span class="food-item-calories">
        <span>
        <div class = "calories-internal">
         <%= calories %>
         </div>
        </span>
        </span>
        <button class="remove">remove</button>
        <button class="select">add</button>
        </span>
    </script>
    <script type="text/template" id="total-calories-template">
        <span class="message-bar total-calories">
        Total calories selected : 
         <%= calories %>
        </span>
    </script>
    <script type="text/template" id="error-message-template">
        <span class="message-bar error-display">
        Error:
         <%= message %>
        </span>
    </script>
    <script type="text/template" id="status-message-template">
        <span class="message-bar status-display">
        Loading Nutritionix data.....
        </span>
    </script>
    <!--build:js js/main.min.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <script src="bower_components/backbone.localStorage/backbone.localStorage.js"></script>
    <script src="js/models/settings_model.js"></script>
    <script src="js/nutritionix_handler.js"></script>
    <script src="js/models/food_item_model.js"></script>
    <script src="js/collections/selected_food_items_collection.js"></script>
    <script src="js/views/settings_view.js"></script>
    <script src="js/views/item_view.js"></script>
    <script src="js/views/selected_list_of_food_items_view.js"></script>
    <script src="js/collections/current_food_items_collection.js"></script>
    <script src="js/views/current_list_of_food_items_view.js"></script>
    <script src="js/views/input_view.js"></script>
    <!-- endbuild -->
</body>

</html>
